<div class="row">
	<div class="jumbotron col-md-12">
		<h1>{{ city.name }}</h1>
		<h2>Województwo {{ region.name }}</h2>
		<h2>Ilość inwestycji: <span class="badge"> {{ investments.length }} </span> </h2>
		<h2>Ilość obserwujących: <span class="badge"> {{ followers.length }}</span></h2>
		<button class="btn btn-success" ng-show="isFollowed==false" ng-click="follow()">Obserwuj</button>
		<button class="btn btn-warning" ng-show="isFollowed==true" ng-click="unfollow()">Przestań obserwować</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<map investments="investments" focus="city.name"></map>	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Inwestycje:</h2>
		<hr>
		<div ng-repeat="investment in investments">
			<a href="/investment/show/{{ investment.id }}">
				<strong>{{ investment.name }}</strong>
				<p>{{ investment.description }}</p>
			</a>
			<hr>
		</div>
	</div>	
</div>
	