<div class="row">
	<div class="jumbotron col-md-12">
		<h1>{{ city.name }}</h1>
		<h2>Województwo {{ region.name }}</h2>
		<h2>Ilość inwestycji: <span class="badge"> {{ investments.length }} </span> </h2>
		<h2>Ilość obserwujących: <span class="badge"> {{ followers.length }}</span></h2>
		<button class="btn btn-success" ng-show="isFollowed==false" ng-click="follow()">Obserwuj</button>
		<button class="btn btn-warning" ng-show="isFollowed==true" ng-click="unfollow()">Przestań obserwować</button>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<map investments="investmentsOnMap" focus="city.name"></map>	
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form action="">
			<div class="form-group">
				<label for="">Nazwa inwestycji</label>
				<input type="text" class="form-control" ng-model="mapSearchParams.name">
			</div>
				<div class="checkbox">
					<label for="">
						<input type="checkbox" ng-model="mapSearchParams.planned"> Planowane inwestycje	
					</label>
					<label for="">
						<input type="checkbox" ng-model="mapSearchParams.ongoing"> Trwające inwestycje	
					</label>
					<label for="">
						<input type="checkbox" ng-model="mapSearchParams.finished"> Zakończone inwestycje
					</label>
				</div>
				<button type="button" ng-click="search(mapSearchParams)" class="btn btn-default">Pokaż inwestycje na mapie</button>
			
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h2>Inwestycje:</h2>
		<hr>
		<div ng-repeat="investment in investments">
			<a href="/investment/show/{{ investment.id }}">
				<strong>{{ investment.name }}</strong>
				<p>Wiarygodność: <span class="badge">{{investment.rank}}</span></p>
				<p>{{ investment.description }}</p>
			</a>
			<hr>
		</div>
	</div>	
</div>
	