<div class="row">
	<div class="col-md-12">
		<form>
			<div class="form-group">
				<label for="name">Nazwa inwestycji: </label>
				<input type="text" class="form-control" ng-model="editedData.name" id="name">
			</div>
			<div class="form-group">
				<label for="description">Opis inwestycji: </label>
				<input type="textarea" class="form-control" ng-model="editedData.description" id="description">
			</div>
			<div class="form-group">
				<label for="startDate">Data rozpoczęcia</label>
				<input type="date" class="form-control" ng-model="editedData.startDate" id="startDate">
			</div>
			<div class="form-group">
				<label for="endDate">Data zakończenia</label>
				<input type="date" class="form-control" ng-model="editedData.endDate" id="endDate">
			</div>
		</form>
		<button class="btn btn-info" ng-click="edit()">Zapisz dane</button>
		<button class="btn btn-warning" ng-click="cancel()">Anuluj</button>
	</div>
</div>