<!-- 
*
*	Opis inwestycji i naglowek
*
 -->

<div class="row jumbotron">
	<h1>{{ investment.name }}</h1>
	
	<button class="btn btn-success" ng-hide="isFollowed" ng-click="follow()"> Obserwuj </button>
	<button class="btn btn-warning" ng-show="isFollowed" ng-click="unfollow()"> Przestań obserwować </button>
	<button class="btn btn-danger" ng-show="activeUser.id === investment.admin" ng-click="deleteInvestment()"> Usuń inwestycję </button>
	<button class="btn btn-info" ng-show="activeUser.id === investment.admin" ng-click="editInvestment()">Edytuj dane inwestycji</button>
	<p>
		{{ investment.description }}
	</p>
	<div class="inline">
		<div class="col-md-3">Miasto: 
			<a href="/city/show/{{city.id}}">
				<strong> {{ city.name }}</strong>
			</a>
		</div>
		<div class="col-md-3">Admin:
			<a href="">
				<strong> {{ admin.name + " " + admin.surname }} </strong>
			</a>
		</div>
		<div class="col-md-3">
			Obserwujacy: <span class="badge"> {{ followers.length }} </span>
		</div>
		<div class="col-md-3">
			Wiarygodność inwestycji <span class="badge"> {{investment.rank}} </span>
			<button class="btn btn-success" ng-click="incrementRank()" ng-disabled="rankButtons.plusLocked === true">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-danger" ng-click="decrementRank()" ng-disabled="rankButtons.minusLocked === true">
				<span class="glyphicon glyphicon-minus"></span>
			</button>
		</div>
		
	</div>
</div>

<!-- 
*
*	Mapa
*
 -->
<div class="row">
	<div class="col-md-6">
		<map editable="true" focus="city.name" investments="investment">
		</map>
	</div>

</div>
<!--
*
*	Galeria
*
 -->
	<div class="col-md-6" ng-controller="GalleryCtrl">
		<h1>Galeria</h1>

		<div id="carousel" class="carousel slide" data-ride="carousel">
		  
	  		<div class="carousel-inner">
	  		
				<div class="item {{slide.active}}" ng-repeat="slide in slides">
					<a href="{{ slide.path }}" data-lightbox="gallery">
						<img src="{{ slide.path }}"  alt="investment">
						<div class="carousel-caption">
							<h1>{{ slide.text }}</h1>
						</div>	
					</a>
					
				</div>
		 	</div>

		  	<a class="left carousel-control" role="button" data-slide="prev" href="#carousel">
		  		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>		
		 	 </a>

		  	<a class="right carousel-control" role="button" data-slide="next" href="#carousel">
		  		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>	
		 	 </a>
		</div>

		<div>
			<button class="btn btn-info" data-toggle="collapse" data-target="#imageUploadPanel" aria-expanded="false">
				Dodaj zdjęcie do galerii
			</button>
		</div>
<!--
*
*	Dodawanie zdjęcia
*
  -->
		<div class="collapse" id="imageUploadPanel">
			<form name="imageUploadForm">
				<div>
					Wybierz zdjęcie do dodania:
					<input type="file" ngf-select ng-model="newImage" name="file" accept="image/*">
					<img ngf-thumbnail="newImage" width="100" height="100">
				</div>
				<div>
					Dodaj podpis zdjęcia:
					<input type="text" ng-model="imageDescription" name="imgDesc">
				</div>
				<button ng-click="upload(newImage)">Wyślij</button>
			</form>
		</div>
		
		<div ng-show="status" class="{{status.bg}}">
			{{ status.msg }}
		</div>		
	</div>
</div>

<!-- 
*
*	Sekcja komentarzy
*
 -->
<div class="row">
	<h1>Komentarze</h1>
	<textarea class="form-control" rows="3" placeholder="Treść komentarza..." ng-model="postContent"></textarea>
	<button class="btn btn-info" ng-click="addPost()">Dodaj komentarz</button>
	<hr>
	<div>
		<div ng-show="posts.length == 0">
			<p><strong>Brak komentarzy</strong></p>
		</div>
		
		<div ng-repeat="post in posts">
			
			<button type="button" ng-click="deletePost(post)" class="btn btn-default remove-comm-btn" aria-label="Right Align">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
			
			<h3>
				<a href="">
					{{post.authorData.name + ' ' + post.authorData.surname}} 
				</a> 
			</h3>
			<p>Opublikowano o <strong>{{ post.creationDate }}</strong></p>
			<p>  {{post.content}} </p>
			<hr/>
		</div>
	</div>

</div>
