<div ng-controller="AuthCtrl">
	
	<h1>Zaloguj się</h1>

	<form action="">		
		<div class="form-group">
			<label for="login">Login:</label>
			<input type="text" class="form-control" id="login" ng-model="loginForm.login">
		</div>
		
		<div class="form-group">	
			<label for="password">Haslo:</label>
			<input type="password" class="form-control" id="password" ng-model="loginForm.password">
		</div>
		
		<div class="form-group">
			<button type="button" class="btn btn-info form-control" ng-click="login()">Zaloguj sie</button>
		</div>
	</form>
</div>