<div class="row">
	
	<div class="col-md-6">
		<img src="{{showingUser.profilePhoto.path}}" alt="Zdjęcie profilowe" height="200" width="200">	
	</div>
	
	<div class="col-md-6">
		<h2>{{showingUser.name + " " +showingUser.surname}}</h2>
		<br>
		<strong>Ocena użytkownika: <span class="badge">{{ showingUser.rank }}</span></strong>
		<div ng-controller="UserCtrl">
			Oceń użytkownika 
			<button class="btn btn-success" ng-click="incrementRank()" ng-disabled="userRankButtons.plusLocked === true">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
			<button class="btn btn-danger" ng-click="decrementRank()" ng-disabled="userRankButtons.minusLocked === true">
				<span class="glyphicon glyphicon-minus"></span>
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<h3>O mnie:</h3>
		<p ng-show="showingUser.about.length > 0">
			{{ showingUser.about }}
		</p>
		<p ng-hide="showingUser.about.length > 0">
			Użytkownik nie dodał jeszcze swojego opisu.
		</p>
	</div>
</div>